
.intro{
	background: #EAF0F1;
}
h1{
	color: #4C4B4B;
	font-weight: bold;
	transition: 0.5s;
}
h3{
	color:#2F363F;
}
footer{
	color:#586776;
	background-color:#EAF0F1;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 100px;
	}
}
.bd{
	height:50px;
	width: 50px;
}
body{
	padding-top:90px;
	background-color: #f8f1f1;
	font-family: 'Alegreya Sans', sans-serif;
}
button{
	padding-top: 10px;

}
.bdd{
	height: 180px;
	width: 180px;
}
.usr{
	padding-top: 60px;
}
.container{
	padding-bottom:25px;
	margin-bottom: 20px;
}
.rrr{
	float:left;
}
.sbody{
	margin-left: 280px;
}
.btns{
	padding-left: 200px;
}
.tt{
	font-family: 'Josefin Sans', sans-serif;
	font-variant: normal;
	}
.yy{
	font-family: 'Josefin Sans', sans-serif;

}
.ty{
	padding-top: 500px;
}
